header {
    background-color: rgb(169, 248, 248);
    color: steelblue;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-msg h1 {
    text-align: center;
}   
#hero-msg h4 {
    text-align: center;
    color: steelblue;
}
#hero-img {
    width: 100%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.rivers-card {
    width: 100%;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    width: 100%;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    width: 100%;
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer a {
    color:steelblue;
    text-decoration: none;
}
footer a:hover {
    color:black;
}
footer {
    background-color: rgb(169, 248, 248);
    color: steelblue;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
    color:black;
}   
footer .social img {
    padding-top: 15px;
} 
.card-img {
    width: 100%;
    border: 10px solid #02b2b8;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
div {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: steelblue;
    text-decoration: none;
    padding: 35px;
}   
nav a:hover {
    color: steelblue;
}
.home-title {
    color: steelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: steelblue;
}
.book:hover {
    color: black;
}
.join:hover {
    color: black;
}
.msg h2 {
    color: steelblue;
    font-family: Arial, Helvetica, sans-serif;
}
.msg h2 {
    color:steelblue;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
    display:grid;
}
main section img {
    box-sizing: border-box;
}
div #background {
    height: 725px;
}
body {
    background-color: white;
    color: steelblue;
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
nav a:hover {
    background-color: white;
    color: black;
}
.book {
    background-color: white;
    color: steelblue;
    padding: 15px 30px;
    color: steelblue;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
} 
.join {
    background-color: white;
    color: steelblue;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: white;
    color: black;
} 
.join:hover {
    background-color: white;
    color: black;
}
#background {
    background-color: white;
    color: steelblue;
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg {
    background-color: white;
    border: 5px solid rgb(169, 248, 248);
    border-radius: 20px;
    color: steelblue;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.headline {
    font-family: Arial, Helvetica, sans-serif;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
h2 {
    margin: 0;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.subpage-title {
    color: steelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 20px;
    text-align: justify;
}
.rivers1-card {
    background-color: rgb(169, 248, 248);
    border-radius: 20px;
    width: 600px;
    height: 600px;
    margin: 50px;
    grid-column: 1/2;
    grid-row: 1/2;
}
hriver1 {
    border: 5px solid rgb(169, 248, 248);
    border-radius: 20px;
    padding: 40px;
    text-align: justify;
    width: 1000px;
    height: 300px;
    margin: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
    
}
.rivers2-card {
    background-color: rgb(169, 248, 248);
    border-radius: 20px;
    width: 600px;
    height: 600px;
    margin: 50px;
    grid-column: 1/2;
    
}
hriver2 {
    border: 5px solid rgb(169, 248, 248);
    border-radius: 20px;
    padding: 40px;
    text-align: justify;
    width: 1000px;
    height: 300px;
    grid-column: 2/3;
    margin: 50px;
    
}
.rivers3-card {
    background-color: rgb(169, 248, 248);
    border-radius: 20px;
    width: 600px;
    height: 600px;
    margin: 50px;
    grid-column: 1/2;
    
}
hriver3 {
    border: 5px solid rgb(169, 248, 248);
    border-radius: 20px;
    padding: 40px;
    text-align: justify;
    width: 1000px;
    height: 300px;
    grid-column: 2/3;
    margin: 50px;
    
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}