body {
    background-color: rgb(224, 136, 210);
}
img {
    width: 10%;
    display: block;
    margin: 0 auto;
}
p {
    width: 10%;
}
a {
    font-size: 1.5em;
}
h1 {
    text-align: center;
    background-color: rgb(255, 0, 170);
    font-size: 3em;
}
h2 {
    text-align: center;
    background-color: white;
    font-size: 2em;
}
h3 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 1.5em;
}
h4 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 1.5em;
}
h5 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 1.5em;
}
h6 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 1.5em;
}
nav, footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px;
}
main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
    background-color: rgb(0, 0, 0);
}
a:hover {
    background-color: white;
    color: steelblue;
}
